/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   margin: 0;
 }

 .d-none {
   display: none;
 }

#navbar {
  background-image: linear-gradient(to bottom, #76AFD8 , #4A90E2);
  height: 92px;
  margin-bottom: .5rem;
  padding-left: 2rem;


  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .header-text {
    font-weight: bold;
    font-size: 36px;
    color: #fff;
  }

  img {
    vertical-align: middle;
    margin-right: 10px;
  }
}

.card {
  width: 1000px;
  margin: auto;
  border: solid 1px #979797;
  border-radius: 8px;
  padding-bottom: 1rem;
  background-color: #F5F5F5;
}
.title {
  text-align: center;
}
.upload-container {
  width: 313px;
  margin: auto;
  padding-bottom: 1rem;
  border: solid 2px #1D5F9B;
  border-radius: 8px;
  text-align: center;
  background-color: #FEFEF6;

  #upload-link {
    color: #1D5F9B;
  }
}

.upload-validation {
  text-align: center;
  margin-top: 1rem;
}
.upload-button {
  width: 198px;
  height: 51px;
  font-size: 16px;
  color: #fff;
  background-image: linear-gradient(to bottom, #76AFD8 , #4A90E2);
  border: solid 2px #1D5F9B;
  border-radius: 8px;
}

.gallery-title {
  margin: 1em;
}

.images {
  margin-left: 45px;
  margin-right: 45px;
  width: calc(100% - 90px);

  /* Three image containers (use 25% for four, and 50% for two, etc) */
  .column {
    float: left;
    width: 25%;
    margin-bottom: 15px;

    .image-title {
      border: solid 1px #979797;
      margin: auto;
      width: 191px;

      .image-link {
        width: -webkit-fill-available;
      }
    }
  }

  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
    margin-bottom: 15px;
  }
}
.image {
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: fit-content; /* for IE 6 */

   p {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     margin-bottom: .6em;
     span {
       color: #fff;
       letter-spacing: -1px;
       background: rgb(0, 0, 0); /* fallback color */
       background: rgba(0, 0, 0, 0.7);
       padding: 5px 85px 5px 5px;
    }
   }
   .delete-span {
     position: absolute;
     top: 0;
     right: 0;
   }

}

.alerts {
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-bottom: 5px;
  padding: 5px;
  display: none;
  background-color: #d60a00;
}

#tooltip {
  display: none;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 115px);
  height: 40px;
  width: 210px;
  text-align: center;
  color: #ffffff;
  line-height: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  font-weight: bold;
}
