<%= form_with(model: @image, html: { multipart: true, class: "image-form" }, local: true) do |f| %>

    <div class="alerts">
      <ul>
        <% @image.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>

  <div class="upload-container">
    <p>Drag or Drop Image</p>
    <%= image_tag 'drag-icon.png', size: '54x50' %>
    <p>Or</p>
    <%= f.file_field :photo, class: "d-none edit-photo-field" %>
    <label id="upload-link">Click to Upload</label>
    <p id="photo-name"></p>
  </div>
  <div class="upload-validation">
    <%= f.submit "Upload Image", class: 'upload-button' %>
  </div>
<% end %>
