<div class="column">
  <div class="image">
    <%= image_tag image&.photo_url, size: '191x127' %>
    <span data-attribute="<%= image.id %>" class="delete-span"><%= image_tag 'close-icon.png' %></span>
    <p><span>Views: <%= image.views %></span></p>
  </div>
  <div class="image-title">
    <input readonly class="image-link" value="<%= image_url(id: image.id, format: image.photo.file.extension) %>"></input>
  </div>
</div>
<div id="tooltip">Copy to clipboard!</div>
